/* Chatbot.css */
.chatbot-container {
    width: 80%;
    height: 650px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .chatbot-header {
    background-color: #6f7a70;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }
  
  .chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
  }
  
  .message.user {
    background-color: #e3f2fd;
    align-self: flex-end;
  }
  
  .message.bot {
    background-color: #e0e0e0;
    align-self: flex-start;
    text-align: left;
  }
  
  .chatbot-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chatbot-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
  
  .chatbot-input button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #838883;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .chatbot-input button:hover {
    background-color: #383a38;
  }
  